@import 'settings';
@import 'foundation-emails';

@import 'template/template';

@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .columns {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.secondary-text {
  color: #888888 !important;
}

.outer-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  padding-bottom: 0 !important;
}
